<app-header titulo="Grilla"></app-header>

<ion-content class="ion-padding" fullscreen>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let iten of [1,1,1,1,1,1,1,1,1,1,1,1]">
                <ion-card>
                    <ion-img src="/assets/Foto.jpg"></ion-img>
                </ion-card>

                <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                </ion-card-header>

                <ion-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est asperiores non quo officiis veritatis enim iure rerum neque autem delectus. Excepturi, doloremque! Eos labore a deleniti ut dicta est nihil!</ion-card-content>

            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>